mixin loginForm()
  form.form(action="/login" method="POST")
    label(for="email") Email
    input(type="text" name="email" placeholder="Your email")
    label(for="password") Password
    input(type="password" name="password" placeholder="Your password")
    input.button(type="submit" value="Login +")